<!DOCTYPEhtml>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sanato</title>
		<link href="./assets/css/bootstrap.css" rel="stylesheet">
		<link href="./assets/css/application.css" rel="stylesheet">
		<link href="./assets/css/jquery.ui.min.css" rel="stylesheet">
		<link href="./assets/css/jquery-ui.structure.min.css" rel="stylesheet">
		<link href="./assets/css/jquery-ui.theme.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="main">
		</div>
			
		<script src="./assets/js/vendor/jquery.js"></script>
		<script src="./assets/js/vendor/jquery.ui.min.js"></script>
		<script src="./assets/js/vendor/json2.js"></script>
		<script src="./assets/js/vendor/underscore.js"></script>
		<script src="./assets/js/vendor/backbone.js"></script>
		<script src="./assets/js/vendor/backbone.marionette.js"></script>
		<script src="./assets/js/vendor/bootstrap.min.js"></script>
		<script src="./assets/js/vendor/spin.js"></script>
		<script src="./assets/js/vendor/jquery.spin.js"></script>

		<script src="./assets/js/app.js"></script>
		<script src="./assets/js/apps/intro/intro.js"></script>
		<script src="./assets/js/apps/login/login.js"></script>
		<script src="./assets/js/apps/container/container.js"></script>
		<script src="./assets/js/apps/resources/resources.js"></script>
		<script src="./assets/js/apps/resources/resources_controller.js"></script>
		<script src="./assets/js/apps/resources/resources_model.js"></script>
		<script src="./assets/js/apps/resources/resources_view.js"></script>
	</body>
</html>

<script type="text/template" id="container-app-template">
	<div id="header"></div>
	<div id="notification"></div>
	<div id="app"></div>
	<div id="footer"></div>
</script>

<script type="text/template" id="header-app-template">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="navbar-brand">Sanato Universal File Access</span>
				<a class="navbar-brand" href="#">
				</a>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="notification-app-template">
	<div class="container">
		<p>Notification app template</p>
		<div class="alert alert-<%= type %>"><p class="text-center"><%= message %></p></div>
	</div>
</script>

<script type="text/template" id="footer-app-template">
	<div class="container">
		<p>Footer app template</p>
	</div>
</script>

<script type="text/template" id="intro-app-template">
	<h1>Please wait, loading ...</h1>
</script>

<script type="text/template" id="login-app-template">
	<form>	
		Username <input type="text" />
		Password <input type="Password" />
		<input type="submit" />
	</form>
</script>

<script type="text/template" id="resources-app-template">
	<section>
		<div id="breadcrumb"></div>
		<div id="panel"></div>
		<div id="grid"></div>
	</section>
</script>

<script type="text/template" id="resources-app-breadcrumb-template">
	<a href="<%= path %>"><%= name %></a>
</script>

<script type="text/template" id="resources-app-panel-template">
	<div class="btn-group">
	  <button id="new-button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    New <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li id="new-folder" ><a href="#"><img class="img" src="assets/img/folder.png" height="30px" /> Folder </a></li>
	    <li id="new-file" ><a href="#"><img class="img" src="assets/img/file.png" height="30px" /> File </a></li>
	  </ul>
	 <div class="input-group hidden" id="new-file-input-group">
	     <input type="text" class="form-control" id="new-file-input" placeholder="Enter file name"/>
	     <span class="input-group-addon">
	         <img class="img" src="assets/img/file.png" height="20px" />
	     </span>
	 </div>
	 <div class="input-group hidden" id="new-folder-input-group">
	     <input type="text" class="form-control" id="new-folder-input" placeholder="Enter folder name"/>
	     <span class="input-group-addon">
	         <img class="img" src="assets/img/folder.png" height="20px" />
	     </span>
	 </div>
	</div>
</script>

<script type="text/template" id="resources-app-resource-template">
    <td class="vert-align">
    	<input class="js-select" type="checkbox"/>
    	<a href="#"><img src="<%= getIcon() %>" class="mime-icon mime-icon-<%= iconType()%> js-show" height="30px"/></a>
    	<img class="loader hidden" src='assets/img/ajax-loader.gif' />
    </td>
	<td class="vert-align"><b><%= basePath(path) %></b></td>
	<td class="vert-align"><a href="#"><span class="glyphicon glyphicon-eye-open js-show hidden"></span></a></td>
	<td class="vert-align"><a href="#"><span class="glyphicon glyphicon-repeat js-versions hidden"></span></a></td>
	<td class="vert-align"><a href="#"><span class="glyphicon glyphicon-download js-download hidden"></span></a></td>
	<td class="vert-align"><%= humanFileSize(size, false) %></td>
	<td class="vert-align"><%= timeSince(modified) %></td> 
	<td class="vert-align"><a href="#"><span class="glyphicon glyphicon-trash js-delete hidden"></span></a></td>
</script>

<script type="text/template" id="resources-app-resource-collection-template">
	<table class="table header-fixed">
		<thead id="table-header">
			<tr>
				<td class="col-md-1"><input class="js-select-all" type="checkbox"/></td>
				<td class="col-md-3"><p id="resource-name">Name</p><p id="select-stats" class="hidden"></p></td>
				<td class="col-md-1"></td>
				<td class="col-md-1"></td>
				<td class="col-md-1"></td>
				<td class="col-md-2"><p id="resource-size">Size</p></td>
				<td class="col-md-2"><p id="resource-modified">Modified</p></td>
				<td class="col-md-1"><a href="#"><span class="glyphicon glyphicon-trash js-delete-all hidden"></span></a></td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>

<script type="text/javascript">
	Sanato.start();
</script>