<!doctype html>
<html lang="en" ng-app="Instanto">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instanto</title>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/ng-toast.min.css"/>
  </head>
  <body >
    <div id="instanto-app" class="hidden">
      <div ng-controller="MasterCtrl">
        <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar">
              <li class="sidebar-main">
                <a href="" ng-click="toggleSidebar()">
                  <img src="./img/instanto-logo.png" style="height: 40px;width: 40px">
                  Instanto
                  <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="index">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
              </li>
              <li class="sidebar-title"><span>Members management</span></li>
              <li class="sidebar-list">
                <a ui-sref="status-list">Statuses <span class="menu-icon fa fa-university"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="member-list">Members <span class="menu-icon fa fa-user"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="partner-list">Partners <span class="menu-icon fa fa-slideshare"></span></a>
              </li>
              <li class="sidebar-title"><span>Publications management</span></li>
              <li class="sidebar-list">
                <a ui-sref="student-work-list">Student works <span class="menu-icon fa fa-graduation-cap"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="student-work-type-list">Student work types <span class="menu-icon fa fa-th-large"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="publication-list">Publications <span class="menu-icon fa fa-book"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="publication-type-list">Publication types <span class="menu-icon fa fa-th"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="publisher-list">Publishers <span class="menu-icon fa fa-quote-left"></span></a>
              </li>
              <li class="sidebar-title"><span>Projects management</span></li>
              <li class="sidebar-list">
                <a ui-sref="funding-body-list">Funding bodies<span class="menu-icon fa fa-building"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="financed-project-list">Financed projects<span class="menu-icon fa fa-dollar"></span></a>
              </li>
              <li class="sidebar-title"><span>Researchs management</span></li>
              <li class="sidebar-list">
                <a ui-sref="research-area-list">Research areas<span class="menu-icon fa fa-eye"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="research-line-list">Research lines<span class="menu-icon fa fa-space-shuttle"></span></a>
              </li>
              <li class="sidebar-title"><span>News management</span></li>
              <li class="sidebar-list">
                <a ui-sref="newspaper-list">Newspapers<span class="menu-icon fa fa-newspaper-o"></span></a>
              </li>
              <li class="sidebar-list">
                <a ui-sref="article-list">Articles<span class="menu-icon fa fa-columns"></span></a>
              </li>
              <li class="sidebar-list">
              </li>
              <li class="sidebar-list">
              </li>
            </ul>
            <div class="sidebar-footer">
              <div class="col-xs-4">
                <a href="https://github.com/rdash/rdash-angular" target="_blank">
                  Github
                </a>
              </div>
              <div class="col-xs-4">
                <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
                  About
                </a>
              </div>
              <div class="col-xs-4">
                <a href="#">
                  Support
                </a>
              </div>
            </div>
          </div>
          <!-- End Sidebar -->
          <div id="content-wrapper">
            <div class="page-content">
              <!-- Header Bar -->
              <div class="row header">
                <div class="col-xs-12">
                  <div class="user pull-right">
                    <div class="item dropdown">
                      <a href="#" class="dropdown-toggle">
                        <i class="fa fa-user"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                          labrador (Hugo Gonzalez Labrador)
                          <!--{{user.display_name}} ({{user.username}})-->
                        </li>
                        <li class="divider"></li>
                        <li class="link">
                          <a href="#">
                            Profile
                          </a>
                        </li>
                        <li class="link">
                          <a href="" style="color:red" ng-click="logout()">
                            Logout <span class="fa fa-sign-out"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="item dropdown">
                      <a href="#" class="dropdown-toggle">
                        <i class="fa fa-bell-o"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                          Notifications
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="#">Server Down!</a>
                        </li>
                      </ul>
                    </div>
                    <div class="item dropdown">
                      <a href="#" class="dropdown-toggle">
                        <i class="fa fa-database"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                          Databases
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="#">Backups</a>
                        </li>
                      </ul>
                    </div>
                    <div class="item dropdown">
                      <a href="#" class="dropdown-toggle">
                        <i class="fa fa-group"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">
                          Users, Groups and Roles
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="#">Users</a>
                        </li>
                        <li>
                          <a href="#">Groups</a>
                        </li>
                        <li>
                          <a href="#">Roles</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="meta">
                    <div class="page">
                      {{pageTitle}}
                    </div>
                    <div class="breadcrumb-links">
                      <span ng-repeat="bread in breadcrumbs">
                        <a ui-sref="{{bread.state}}">{{bread.name}}</a> /
                      </span>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Header Bar -->
            <!-- Main Content -->
            <div ui-view></div>
            </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
            </div><!-- End Page Wrapper -->
          </div>
          <toast></toast>
        </div>
      </div>

      <!-- LOGIN APP -->
      <div id="login-app" class="hidden">
        <div class="card card-container">
            <div>
              <img id="profile-img" class="profile-img-card" src="./img/instanto-logo.png" />
              <h2 class="text-center">Instanto platform</h2>
            </div>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" role="form" id="login-form">
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
      </div>
      
      <!-- INTRO APP -->
      <div id="intro-app">
        <div class="card card-container">
            <div>
              <img id="profile-img" class="profile-img-card" src="./img/instanto-logo.png" />
              <h2 class="text-center">Instanto platform</h2>
              <p class="text-center">Loading, please wait ... </p>
            </div>
            <!--
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" role="form" id="login-form">
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
            -->
        </div>
      </div>

      <!-- INSTALLATION APP -->
      <!--
      <div id="login-app" class="hidden">
        <div class="card card-container">
            <div>
              <img id="profile-img" class="profile-img-card" src="./img/instanto-logo.png" />
              <h2 class="text-center">Instanto platform</h2>
              <h3 class="text-center">Installation</h3>
            </div>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" role="form" id="login-form">
              <label for="username" class="sr-only">Database username</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Database user" required autofocus>
              <label for="inputPassword" class="sr-only">Database password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Database password" required>
              <label for="username" class="sr-only">Database host</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Database host" required autofocus>
              <label for="username" class="sr-only">Database port</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Database port" required autofocus>
              <label for="username" class="sr-only">Database name</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="Database name" required autofocus>
              <button class="btn btn-lg btn-primary btn-block" type="submit">INSTALL</button>
            </form>
        </div>
      </div>
      -->



      <script type="text/javascript" src="core/intro-app.js"></script>
      <script type="text/javascript" src="js/superagent.js"></script>
      <script type="text/javascript" src="core/login-app.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/angular-animate.min.js"></script>
      <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
      <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
      <script type="text/javascript" src="js/smart-table.min.js"></script>
      <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="js/ng-toast.min.js"></script>
      <script type="text/javascript" src="core/boot/boot.js"></script>
      <script type="text/javascript" src="core/boot/routes.js"></script>
      <script type="text/javascript" src="core/boot/factories/authentication.js"></script>
      <script type="text/javascript" src="core/boot/factories/auth-interceptor.js"></script>
      <script type="text/javascript" src="core/boot/controllers/master-controller.js"></script>
      <script type="text/javascript" src="core/boot/directives/loading.js"></script>
      <script type="text/javascript" src="core/boot/directives/widget-body.js"></script>
      <script type="text/javascript" src="core/boot/directives/widget-footer.js"></script>
      <script type="text/javascript" src="core/boot/directives/widget-header.js"></script>
      <script type="text/javascript" src="core/boot/directives/widget.js"></script>
      <script type="text/javascript" src="core/apps/alert/controllers/alert-controller.js"></script>
      <script type="text/javascript" src="core/apps/status/factories/status-factory.js"></script>
      <script type="text/javascript" src="core/apps/status/controllers/status-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/status/controllers/status-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/member/factories/member-factory.js"></script>
      <script type="text/javascript" src="core/apps/member/controllers/member-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/member/controllers/member-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/partner/factories/partner-factory.js"></script>
      <script type="text/javascript" src="core/apps/partner/controllers/partner-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/partner/controllers/partner-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/student-work-type/factories/student-work-type-factory.js"></script>
      <script type="text/javascript" src="core/apps/student-work-type/controllers/student-work-type-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/student-work-type/controllers/student-work-type-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/student-work/factories/student-work-factory.js"></script>
      <script type="text/javascript" src="core/apps/student-work/controllers/student-work-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/student-work/controllers/student-work-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/publisher/factories/publisher-factory.js"></script>
      <script type="text/javascript" src="core/apps/publisher/controllers/publisher-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/publisher/controllers/publisher-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/research-area/factories/research-area-factory.js"></script>
      <script type="text/javascript" src="core/apps/research-area/controllers/research-area-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/research-area/controllers/research-area-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/research-line/factories/research-line-factory.js"></script>
      <script type="text/javascript" src="core/apps/research-line/controllers/research-line-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/research-line/controllers/research-line-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/newspaper/factories/newspaper-factory.js"></script>
      <script type="text/javascript" src="core/apps/newspaper/controllers/newspaper-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/newspaper/controllers/newspaper-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/article/factories/article-factory.js"></script>
      <script type="text/javascript" src="core/apps/article/controllers/article-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/article/controllers/article-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/funding-body/factories/funding-body-factory.js"></script>
      <script type="text/javascript" src="core/apps/funding-body/controllers/funding-body-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/funding-body/controllers/funding-body-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/financed-project/factories/financed-project-factory.js"></script>
      <script type="text/javascript" src="core/apps/financed-project/controllers/financed-project-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/financed-project/controllers/financed-project-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/publication-type/factories/publication-type-factory.js"></script>
      <script type="text/javascript" src="core/apps/publication-type/controllers/publication-type-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/publication-type/controllers/publication-type-controller-view.js"></script>
      <script type="text/javascript" src="core/apps/publication/factories/publication-factory.js"></script>
      <script type="text/javascript" src="core/apps/publication/controllers/publication-controller-list.js"></script>
      <script type="text/javascript" src="core/apps/publication/controllers/publication-controller-view.js"></script>
    </body>
  </html>