<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Research area detail</h3>
      </div>
      <div class="panel-body">
        <p><b>Name</b>: {{research_area.name}}</p>
        <p><b>Created by</b>: {{research_area.created_by}}</p>
        <p><b>Created at</b>: {{research_area.created_at}}</p>
        <p><b>Updated by</b>: {{research_area.updated_by}}</p>
        <p><b>Updated at</b>: {{research_area.updated_at}}</p>
        <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(research_area)">Update</button>
        <button class="btn btn-danger btn-xs" ng-click="researchAreaDelete(research_area.id)">Delete</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Research area logo</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <button class="btn btn-primary btn-xs" ng-click="doClick()">Upload logo</button>
            <input id="file-input" type="file" style="display:none" onchange="angular.element(this).scope().handleFileUpload(this)">
            <button ng-show="research_area.logo" class="btn btn-danger btn-xs" ng-click="researchAreaDeleteLogo(research_area)">Delete logo</button>
          </div>
          <div class="col-lg-6">
            <div>
              <a ng-show="research_area.logo"  href="http://localhost:3000/api/media/{{research_area.logo}}" target="_blanck"><img class="img-thumbnail" ng-src="http://localhost:3000/api/media/{{research_area.logo}}" height="200px" width="200px" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Research area relations</h3>
      </div>
      <div class="panel-body">
        <tabset>
        <tab heading="Primary research lines">
        <br>
        <table class="table table-hover" st-table="research_area_primary_research_lines_copy" st-safe-src="research_area_primary_research_lines" >
          <thead>
            <tr>
              <th st-sort="id">Id</th>
              <th st-sort="title" st-sort-default>Title</th>
              <th st-sort="finished">Finished</th>
              <th st-sort="created_by">Created by</th>
              <th st-sort="created_at">Created at</th>
              <th st-sort="updated_by">Updated by</th>
              <th st-sort="updated_at">Updated at</th>
              <th st-sort=""></th>
            </tr>
            <tr>
              <th colspan="8">
                <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="research_area_primary_research_line in research_area_primary_research_lines_copy">
              <td>{{research_area_primary_research_line.id}}</td>
              <td>{{research_area_primary_research_line.title}}</td>
              <td>{{research_area_primary_research_line.finished}}</td>
              <td>{{research_area_primary_research_line.created_by}}</td>
              <td>{{research_area_primary_research_line.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
              <td>{{research_area_primary_research_line.updated_by}}</td>
              <td>{{research_area_primary_research_line.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
              <td>
                <button class="btn btn-success btn-xs" ui-sref="research-line-view({researchlineid: research_area_primary_research_line.id})"><span class="fa fa-eye"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
        </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>