<div class="modal-header">
  <h3 class="modal-title">Update student work type</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter student work type name" ng-model="student_work_typeZ.name">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="studentWorkTypeUpdate(student_work_typeZ)">Update</button>
  <button class="btn btn-warning" ng-click="$close()">Cancel</button>
</div>