<div class="modal-header">
  <h3 class="modal-title">Update newspaper</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter newspaper name" ng-model="newspaperZ.name">
    </div>
    <div class="form-group">
      <label for="web">Web</label>
      <input type="text" class="form-control" placeholder="Enter newspaper web" ng-model="newspaperZ.web">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-xs" ng-click="newspaperUpdate(newspaperZ)">Update</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>