<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Newspaper detail</h3>
            </div>
            <div class="panel-body">
                <p><b>Name</b>: {{newspaper.name}}</p>
                <p><b>Web</b>: {{newspaper.web}}</p>
                <p><b>Created by</b>: {{newspaper.created_by}}</p>
                <p><b>Created at</b>: {{newspaper.created_at}}</p>
                <p><b>Updated by</b>: {{newspaper.updated_by}}</p>
                <p><b>Updated at</b>: {{newspaper.updated_at}}</p>
                <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(newspaper)">Update</button>
                <button class="btn btn-danger btn-xs" ng-click="newspaperDelete(newspaper.id)">Delete</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Newspaper logo</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-primary btn-xs" ng-click="doClick()">Upload logo</button>
                        <input id="file-input" type="file" style="display:none" onchange="angular.element(this).scope().handleFileUpload(this)">
                        <button ng-show="newspaper.logo" class="btn btn-danger btn-xs" ng-click="newspaperDeleteLogo(newspaper)">Delete logo</button>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <a ng-show="newspaper.logo"  href="http://localhost:3000/api/media/{{newspaper.logo}}" target="_blanck"><img class="img-thumbnail" ng-src="http://localhost:3000/api/media/{{newspaper.logo}}" height="200px" width="200px" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Newspaper relations</h3>
            </div>
            <div class="panel-body">
                <tabset>
                <tab heading="Articles">
                <br>
                <table class="table table-hover" st-table="newspaper_articles_copy" st-safe-src="newspaper_articles" >
                    <thead>
                        <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="title" st-sort-default>Title</th>
                            <th st-sort="date">Date</th>
                            <th st-sort="created_by">Created by</th>
                            <th st-sort="created_at">Created at</th>
                            <th st-sort="updated_by">Updated by</th>
                            <th st-sort="updated_at">Updated at</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="8">
                                <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="newspaper_article in newspaper_articles_copy">
                            <td>{{newspaper_article.id}}</td>
                            <td>{{newspaper_article.title}}</td>
                            <td>{{newspaper_article.date * 1000 | date : "yyyy/MM/dd"}}</td>
                            <td>{{newspaper_article.created_by}}</td>
                            <td>{{newspaper_article.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{newspaper_article.updated_by}}</td>
                            <td>{{newspaper_article.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>
                                <button class="btn btn-success btn-xs" ui-sref="article-view({articleid: newspaper_article.id})"><span class="fa fa-eye"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>