<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Article detail</h3>
            </div>
            <div class="panel-body">
                <p><b>Title</b>: {{article.title}}</p>
                <p><b>Web</b>: {{article.web}}</p>
                <p><b>Date</b>: {{article.date * 1000 | date : "yyyy/MM/dd"}}</p>
                <p><b>Newspaper</b>: <a ui-sref="newspaper-view({newspaperid:article.newspaper_doc.id})">{{article.newspaper_doc.name}}</a></p>
                <p><b>Created by</b>: {{article.created_by}}</p>
                <p><b>Created at</b>: {{article.created_at}}</p>
                <p><b>Updated by</b>: {{article.updated_by}}</p>
                <p><b>Updated at</b>: {{article.updated_at}}</p>
                <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(article)">Update</button>
                <button class="btn btn-danger btn-xs" ng-click="articleDelete(article.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Article relations</h3>
            </div>
            <div class="panel-body">
                <tabset>
                    <tab heading="Research lines this article is related">
                     <br>
                      <button class="btn btn-success btn-xs" ng-click="openAddResearchLineForm()">Add</button>
                      <table class="table table-hover" st-table="research_lines_copy" st-safe-src="research_lines" >
                        <thead>
                          <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="title" st-sort-default st-skip-natural="true">Title</th>
                            <th st-sort="article_created_by">Added by</th>
                            <th st-sort="article_created_at">Added at</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th colspan="6">
                              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="research_line in research_lines_copy">
                            <td>{{research_line.id}}</td>
                            <td>{{research_line.title}}</td>
                            <td>{{research_line.article_created_by}}</td>
                            <td>{{research_line.article_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>
                              <button class="btn btn-success btn-xs" ui-sref="research-line-view({researchlineid: research_line.id})"><span class="fa fa-eye"></span></button>
                              <button class="btn btn-danger btn-xs" ng-click="articleRemoveResearchLine(article.id, research_line.id)"><span class="fa fa-minus"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>