<div class="row">
  <div class="col-lg-12">
    <instanto-widget>
    <instanto-widget-header icon="fa-columns" title="Articles">
    <button class="btn btn-success btn-xs" ng-click="openCreateForm()">New</button>
    </instanto-widget-header>
    <instanto-widget-body classes="no-padding">
    <div class="table-responsive">
      <table st-table="articles_copy" st-safe-src="articles" class="table table-hover">
        <thead>
          <tr>
            <th st-sort="id">Id</th>
            <th st-sort="title" st-sort-default>Title</th>
            <th st-sort="date">Date</th>
            <th st-sort="created_by">Created by</th>
            <th st-sort="created_at">Created at</th>
            <th st-sort="updated_by">Updated by</th>
            <th st-sort="updated_at">Updated at</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="8">
              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="article in articles_copy">
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.date * 1000 | date : "yyyy/MM/dd"}}</td>
            <td>{{article.created_by}}</td>
            <td>{{article.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
            <td>{{article.updated_by}}</td>
            <td>{{article.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
            <td><button class="btn btn-success btn-xs" ui-sref="article-view({articleid: article.id})"><span class="fa fa-eye"></span></button>
              <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(article)"><span class="fa fa-edit"></span></button>
            <button class="btn btn-danger btn-xs" ng-click="articleDelete(article.id)"><span class="fa fa-trash-o"></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </instanto-widget-body>
    </instanto-widget>
  </div>
</div>
