<div class="modal-header">
  <h4 class="modal-title">Add financed project</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="financed_projects">Financed projects</label>
      <select class="form-control"  ng-init="financed_project = financed_projects_to_add[0].id" ng-model="financed_project" ng-options="financed_project_to_add.id as financed_project_to_add.title for financed_project_to_add in financed_projects_to_add"></select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-xs" ng-click="researchLineAddFinancedProject(research_line.id, financed_project);$close()">Add</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>
