<div class="modal-header">
  <h4 class="modal-title">Add research area</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="research_areas">Research areas</label>
      <select class="form-control"  ng-init="research_area = research_areas_to_add[0].id" ng-model="research_area" ng-options="research_area_to_add.id as research_area_to_add.name for research_area_to_add in research_areas_to_add"></select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-xs" ng-click="researchLineAddSecondaryResearchArea(research_line.id, research_area);$close()">Add</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>
