<div class="modal-header">
  <h3 class="modal-title">Create research line</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="Enter research line name" ng-init="$element.focus()" ng-model="research_line.title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" placeholder="Enter research line description" ng-model="research_line.description">
    </div>
    <div class="form-group">
      <label for="finsihed">Finished</label>
      <input type="checkbox" ng-model="research_line.finished" >
    </div>
    <div class="form-group">
      <label for="primary_research_area">Primary research area</label>
      <select class="form-control"  ng-init="research_line.primary_research_area = research_areas[0].id" ng-model="research_line.primary_research_area" ng-options="research_area.id as research_area.name for research_area in research_areas"></select>
    </div>
</form>
</div>
<div class="modal-footer">
<button class="btn btn-success btn-xs" ng-click="researchLineCreate(research_line)">Create</button>
<button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>