<div class="modal-header">
  <h4 class="modal-title">Add student work</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="student_works">Student works</label>
      <select class="form-control"  ng-init="student_work = student_works_to_add[0].id" ng-model="student_work" ng-options="student_work_to_add.id as student_work_to_add.title for student_work_to_add in student_works_to_add"></select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-xs" ng-click="researchLineAddStudentWork(research_line.id, student_work);$close()">Add</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>
