<div class="modal-header">
  <h4 class="modal-title">Update status</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter status name" ng-model="statusZ.name">
    </div>
    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" placeholder="Enter status description" ng-model="statusZ.description">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-xs" ng-click="statusUpdate(statusZ)">Update</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>