body{
	/* 60px to move the container down and
	* make room for the navigation bar */
	padding-top: 60px;
}
tr {
	height: 60px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
.table p {
	font-weight: bold;
}
.table {
	margin-top: 30px;
}
.table td input {
	cursor: pointer;
	vertical-align: super;
	margin-right: 5px;
}
.glyphicon-trash {
	color: red;
}
.grey {
	background-color: aquamarine;
}
