<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Financed project detail</h3>
            </div>
            <div class="panel-body">
                <p><b>Title</b>: {{financed_project.title}}</p>
                <p><b>Started</b>: {{financed_project.started * 1000 | date : "yyyy/MM/dd"}}</p>
                <p><b>Ended</b>: {{financed_project.ended * 1000 | date : "yyyy/MM/dd"}}</p>
                <p><b>Budget</b>: {{financed_project.budget}}</p>
                <p><b>Scope</b>: {{financed_project.scope}}</p>
                <p><b>Primary leader</b>: <a ui-sref="member-view({memberid:financed_project.primary_leader_doc.id})">{{financed_project.primary_leader_doc.first_name + ' ' + financed_project.primary_leader_doc.last_name}}</a></p>
                <p><b>Primary funding body</b>: <a ui-sref="funding-body-view({fundingbodyid:financed_project.primary_funding_body_doc.id})">{{financed_project.primary_funding_body_doc.name}}</a></p>
                <p><b>Primary record</b>: {{financed_project.primary_record}}</p>
                <p><b>Created by</b>: {{financed_project.created_by}}</p>
                <p><b>Created at</b>: {{financed_project.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</p>
                <p><b>Updated by</b>: {{financed_project.updated_by}}</p>
                <p><b>Updated at</b>: {{financed_project.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</p>
                <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(financed_project)">Update</button>
                <button class="btn btn-danger btn-xs" ng-click="financedProjectDelete(financed_project.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Financed project relations</h3>
            </div>
            <div class="panel-body">
                <tabset>
                    <tab heading="Research lines this project is involved">
                     <br>
                      <button class="btn btn-success btn-xs" ng-click="openAddResearchLineForm()">Add
                      </button>
                      <table class="table table-hover" st-table="research_lines_copy" st-safe-src="research_lines" >
                        <thead>
                          <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="title" st-sort-default>Title</th>
                            <th st-sort="finished">Finished</th>
                            <th st-sort="created_by">Created by</th>
                            <th st-sort="created_at">Created at</th>
                            <th st-sort="updated_by">Updated by</th>
                            <th st-sort="updated_at">Updated at</th>
                            <th st-sort="financed_project_created_by">Added by</th>
                            <th st-sort="financed_project_created_at">Added at</th>
                            <th st-sort=""></th>
                          </tr>
                          <tr>
                            <th colspan="10">
                              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="research_line in research_lines_copy">
                           <td>{{research_line.id}}</td>
                          <td>{{research_line.title}}</td>
                          <td>{{research_line.finished}}</td>
                          <td>{{research_line.created_by}}</td>
                          <td>{{research_line.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                          <td>{{research_line.updated_by}}</td>
                          <td>{{research_line.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{research_line.financed_project_created_by}}</td>
                            <td>{{research_line.financed_project_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                             <td>
                              <button class="btn btn-success btn-xs" ui-sref="research-line-view({researchlineid: research_line.id})"><span class="fa fa-eye"></span></button>
                              <button class="btn btn-danger btn-xs" ng-click="financedProjectRemoveResearchLine(financed_project.id, research_line.id)"><span class="fa fa-minus"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab heading="Secondary funding bodies">
                      <br>
                      <button class="btn btn-success btn-xs" ng-click="openAddSecondaryFundingBodyForm()">Add</button>
                      <table class="table table-hover" st-table="financed_project_secondary_funding_bodies_copy" st-safe-src="financed_project_secondary_funding_bodies" >
                        <thead>
                          <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="name" st-sort-default>Name</th>
                            <th st-sort="created_by">Created by</th>
                            <th st-sort="created_at">Created at</th>
                            <th st-sort="updated_by">Updated by</th>
                            <th st-sort="updated_at">Updated at</th>
                            <th st-sort="financed_project_created_by">Added by</th>
                            <th st-sort="financed_project_created_at">Added at</th>
                            <th st-sort="record">Record</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th colspan="10">
                              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="financed_project_secondary_funding_body in financed_project_secondary_funding_bodies_copy">
                            <td>{{financed_project_secondary_funding_body.id}}</td>
                            <td>{{financed_project_secondary_funding_body.name}}</td>
                            <td>{{financed_project_secondary_funding_body.created_by}}</td>
                            <td>{{financed_project_secondary_funding_body.created_at * 1000| date : "dd/MM/yyyy HH:mm:ss"}}</td>
                            <td>{{financed_project_secondary_funding_body.updated_by}}</td>
                            <td>{{financed_project_secondary_funding_body.updated_at * 1000 | date : "dd/MM/yyyy HH:mm:ss"}}</td>
                            <td>{{financed_project_secondary_funding_body.financed_project_created_by}}</td>
                            <td>{{financed_project_secondary_funding_body.financed_project_updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{financed_project_secondary_funding_body.financed_project_record}}</td>

                            <td>
                              <button class="btn btn-success btn-xs" ui-sref="funding-body-view({fundingbodyid: financed_project_secondary_funding_body.id})"><span class="fa fa-eye"></span></button>
                              <button class="btn btn-danger btn-xs" ng-click="financedProjectRemoveSecondaryFundingBody(financed_project.id,financed_project_secondary_funding_body.id)"><span class="fa fa-minus"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab heading="Secondary leaders">
                      <br>
                      <button class="btn btn-success btn-xs" ng-click="openAddSecondaryLeaderForm()">Add</button>
                      <table class="table table-hover" st-table="financed_project_secondary_leaders_copy" st-safe-src="financed_project_secondary_leaders" >
                        <thead>
                          <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="first_name" st-sort-default>First name</th>
                            <th st-sort="last_name">Last name</th>
                            <th st-sort="created_by">Created by</th>
                            <th st-sort="created_at">Created at</th>
                            <th st-sort="updated_by">Updated by</th>
                            <th st-sort="updated_by">Updated at</th>
                            <th st-sort="financed_project_created_by">Added by</th>
                            <th st-sort="financed_project_created_at">Added at</th>

                            <th></th>
                          </tr>
                          <tr>
                            <th colspan="10">
                              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="financed_project_secondary_leader in financed_project_secondary_leaders_copy">
                            <td>{{financed_project_secondary_leader.id}}</td>
                            <td>{{financed_project_secondary_leader.first_name}}</td>
                            <td>{{financed_project_secondary_leader.last_name}}</td>
                            <td>{{financed_project_secondary_leader.created_by}}</td>
                            <td>{{financed_project_secondary_leader.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{financed_project_secondary_leader.updated_by}}</td>
                            <td>{{financed_project_secondary_leader.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{financed_project_secondary_leader.financed_project_as_leader_created_by}}</td>
                             <td>{{financed_project_secondary_leader.financed_project_as_leader_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>
                              <button class="btn btn-success btn-xs" ui-sref="member-view({memberid: financed_project_secondary_leader.id})"><span class="fa fa-eye"></span></button>
                              <button class="btn btn-danger btn-xs" ng-click="financedProjectRemoveSecondaryLeader(financed_project.id,financed_project_secondary_leader.id)"><span class="fa fa-minus"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                    <tab heading="Members involved">
                      <br>
                      <button class="btn btn-success btn-xs" ng-click="openAddMemberForm()">Add</button>
                      <table class="table table-hover" st-table="financed_project_members_copy" st-safe-src="financed_project_members" >
                        <thead>
                          <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="first_name" st-sort-default>First name</th>
                            <th st-sort="last_name">Last name</th>
                            <th st-sort="created_by">Created by</th>
                            <th st-sort="created_at">Created at</th>
                            <th st-sort="updated_by">Updated by</th>
                            <th st-sort="updated_by">Updated at</th>
                            <th st-sort="financed_project_created_by">Added by</th>
                            <th st-sort="financed_project_created_at">Added at</th>

                            <th></th>
                          </tr>
                          <tr>
                            <th colspan="10">
                              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="financed_project_member in financed_project_members_copy">
                            <td>{{financed_project_member.id}}</td>
                            <td>{{financed_project_member.first_name}}</td>
                            <td>{{financed_project_member.last_name}}</td>
                            <td>{{financed_project_member.created_by}}</td>
                            <td>{{financed_project_member.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{financed_project_member.updated_by}}</td>
                            <td>{{financed_project_member.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>{{financed_project_member.financed_project_created_by}}</td>
                             <td>{{financed_project_member.financed_project_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                            <td>
                              <button class="btn btn-success btn-xs" ui-sref="member-view({memberid: financed_project_member.id})"><span class="fa fa-eye"></span></button>
                              <button class="btn btn-danger btn-xs" ng-click="financedProjectRemoveMember(financed_project.id,financed_project_member.id)"><span class="fa fa-minus"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>