<div class="modal-header">
  <h4 class="modal-title">Add secondary funding body</h4>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="funding_bodies">Funding bodies</label>
      <select class="form-control"  ng-init="funding_body = secondary_funding_bodies_to_add[0].id" ng-model="funding_body" ng-options="secondary_funding_body_to_add.id as secondary_funding_body_to_add.name  for secondary_funding_body_to_add in secondary_funding_bodies_to_add"></select>
    </div>
    <div class="form-group">
      <label for="record">Record</label>
      <input type="text" class="form-control" placeholder="Enter record" ng-model="record">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-xs" ng-click="financedProjectAddSecondaryFundingBody(financed_project.id, funding_body, record);$close()">Add</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>
