<div class="modal-header">
  <h3 class="modal-title">Update funding body</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter funding body name" ng-init="$element.focus()" ng-model="funding_bodyZ.name">
    </div>
    <div class="form-group">
      <label for="name">Web</label>
      <input type="text" class="form-control" placeholder="Enter funding body web" ng-model="funding_bodyZ.web">
    </div>
    <label for="scope"> Scope </label>
    <div class="form-group radio">
      <label class="radio-inline">
        <input type="radio" name="scope" value="regional"  ng-model="funding_bodyZ.scope"> Regional
      </label>
      <label class="radio-inline">
        <input type="radio" name="scope" value="national" ng-model="funding_bodyZ.scope"> National
      </label>
      <label class="radio-inline">
        <input type="radio" name="scope" value="international" ng-model="funding_bodyZ.scope"> International
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-xs" ng-click="fundingBodyUpdate(funding_bodyZ)">Update</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>