<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Member detail</h3>
      </div>
      <div class="panel-body">
        <p><b>First name</b>: {{member.first_name}}</p>
        <p><b>Last name</b>: {{member.last_name}}</p>
        <p><b>Email</b>: {{member.email}}</p>
        <p><b>Degree</b>: {{member.degree}}</p>
        <p><b>Year in</b>: {{member.year_in}}</p>
        <p><b>Year out</b>: {{member.year_out}}</p>
        <p><b>Primary status</b>: <a ui-sref="status-view({statusid:member.primary_status_doc.id})">{{member.primary_status_doc.name}}</a></p>
        <p><b>Created by</b>: {{member.created_by}}</p>
        <p><b>Created at</b>: {{member.created_at *1000 | date : "dd/MM/yyyy HH:mm:ss"}}</p>
        <p><b>Updated by</b>: {{member.updated_by}}</p>
        <p><b>Updated at</b>: {{member.updated_at *1000 | date : "dd/MM/yyyy HH:mm:ss"}}</p>
        <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(member)">Update</button>
        <button class="btn btn-danger btn-xs" ng-click="memberDelete(member.id)">Delete</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Member photo</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn btn-primary btn-xs" ng-click="doClickPhoto()">Upload photo</button>
                <input id="file-input-photo" type="file" style="display:none" onchange="angular.element(this).scope().handleFileUploadPhoto(this)">
                <button ng-show="member.photo" class="btn btn-danger btn-xs" ng-click="memberDeletePhoto(member)">Delete photo</button>
              </div>
              <div class="col-lg-6">
                <div>
                  <a ng-show="member.photo"  href="http://localhost:3000/api/media/{{member.photo}}" target="_blanck"><img class="img-thumbnail" ng-src="http://localhost:3000/api/media/{{member.photo}}" height="200px" width="200px" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Member cv</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <button class="btn btn-primary btn-xs" ng-click="doClickCv()">Upload cv</button>
                <input id="file-input-cv" type="file" style="display:none" onchange="angular.element(this).scope().handleFileUploadCv(this)">
                <button ng-show="member.cv" class="btn btn-danger btn-xs" ng-click="memberDeleteCv(member)">Delete cv</button>
              </div>
              <div class="col-lg-6">
                <div>
                  <a ng-show="member.cv" target="_blank" href="http://localhost:3000/api/media/{{member.cv}}">Download cv</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Member relations</h3>
        </div>
        <div class="panel-body">
          <accordion>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-book"></span> Pubications</span> I am the main author of these publications <span class="pull-right badge">{{member_primary_publications.length}}</span>
              </accordion-heading>
              <br>
              <table class="table table-hover" st-table="member_primary_publications_copy" st-safe-src="member_primary_publications" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th st-sort="title" st-sort-default>Title</th>
                    <th st-sort="year" st-sort-default>Year</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="8">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_primary_publication in member_primary_publications_copy">
                    <td>{{member_primary_publication.id}}</td>
                    <td>{{member_primary_publication.title}}</td>
                    <td>{{member_primary_publication.year}}</td>
                    <td>{{member_primary_publication.created_by}}</td>
                    <td>{{member_primary_publication.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_primary_publication.updated_by}}</td>
                    <td>{{member_primary_publication.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="publication-view({publicationid: member_primary_publication.id})"><span class="fa fa-eye"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-book"></span> Pubications</span> I am also co-author of these publications <span class="pull-right badge">{{member_secondary_publications.length}}</span>
              </accordion-heading>
              <br>
              <button class="btn btn-success btn-xs" ng-click="openAddSecondaryPublicationForm()">Add</button>
              <table class="table table-hover" st-table="member_secondary_publications_copy" st-safe-src="member_secondary_publications" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th st-sort="name" st-sort-default>Title</th>
                    <th st-sort="year" st-sort-default>Year</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th st-sort="member_created_at">Added at</th>
                    <th st-sort="member_updated_by">Added by</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="10">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_secondary_publication in member_secondary_publications_copy">
                    <td>{{member_secondary_publication.id}}</td>
                    <td>{{member_secondary_publication.title}}</td>
                    <td>{{member_secondary_publication.year}}</td>
                    <td>{{member_secondary_publication.created_by}}</td>
                    <td>{{member_secondary_publication.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_secondary_publication.updated_by}}</td>
                    <td>{{member_secondary_publication.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_secondary_publication.member_created_by}}</td>
                    <td>{{member_secondary_publication.member_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="publication-view({publicationid: member_secondary_publication.id})"><span class="fa fa-eye"></span></button>
                      <button class="btn btn-danger btn-xs" ng-click="memberRemoveSecondaryPublication(member.id,member_secondary_publication.id)"><span class="fa fa-minus"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-graduation-cap"></span> Student works</span> I am the main author of these student works <span class="pull-right badge">{{member_student_works.length}}</span>
              </accordion-heading>
              <br>
              <table class="table table-hover" st-table="member_student_works_copy" st-safe-src="member_student_works" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th st-sort="title" st-sort-default>Title</th>
                    <th st-sort="year" st-sort-default>Year</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="8">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_student_work in member_student_works_copy">
                    <td>{{member_student_work.id}}</td>
                    <td>{{member_student_work.title}}</td>
                    <td>{{member_student_work.year}}</td>
                    <td>{{member_student_work.created_by}}</td>
                    <td>{{member_student_work.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_student_work.updated_by}}</td>
                    <td>{{member_student_work.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="student-work-view({studentworkid: member_student_work.id})"><span class="fa fa-eye"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-dollar"></span> Financed projects</span> I am the leader of these financed projects <span class="pull-right badge">{{member_primary_leadered_financed_projects.length}}</span>
              </accordion-heading>
              <br>
              <table class="table table-hover" st-table="member_primary_leadered_financed_projects_copy" st-safe-src="member_primary_leadered_financed_projects" >
                <thead>
                  <tr>
                    <th st-sort="id">Id</th>
                    <th st-sort="title" st-sort-default>Title</th>
                    <th st-sort="started">Started</th>
                    <th st-sort="ended">Ended</th>
                    <th st-sort="budget">Budget (&euro;)</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="10">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_primary_leadered_financed_project in member_primary_leadered_financed_projects_copy">
                    <td>{{member_primary_leadered_financed_project.id}}</td>
                    <td>{{member_primary_leadered_financed_project.title}}</td>
                    <td>{{member_primary_leadered_financed_project.started * 1000 | date : "yyyy/MM/dd"}}</td>
                    <td>{{member_primary_leadered_financed_project.ended * 1000 | date : "yyyy/MM/dd"}}</td>
                    <td>{{member_primary_leadered_financed_project.budget}}</td>
                    <td>{{member_primary_leadered_financed_project.created_by}}</td>
                    <td>{{member_primary_leadered_financed_project.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_primary_leadered_financed_project.updated_by}}</td>
                    <td>{{member_primary_leadered_financed_project.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="financed-project-view({financedprojectid: member_primary_leadered_financed_project.id})"><span class="fa fa-eye"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-dollar"></span> Financed projects</span> I have participated in these financed projects <span class="pull-right badge">{{member_financed_projects.length}}</span>
              </accordion-heading>
              <br>
              <button class="btn btn-success btn-xs" ng-click="openAddFinancedProjectForm()">Add</button>
              <table class="table table-hover" st-table="member_financed_projects_copy" st-safe-src="member_financed_projects" >
                <thead>
                  <tr>
                    <th st-sort="id">Id</th>
                    <th st-sort="title" st-sort-default>Title</th>
                    <th st-sort="started">Started</th>
                    <th st-sort="ended">Ended</th>
                    <th st-sort="budget">Budget (&euro;)</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th st-sort="member_created_by">Added by</th>
                    <th st-sort="member_created_at">Added at</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="12">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_financed_project in member_financed_projects_copy">
                    <td>{{member_financed_project.id}}</td>
                    <td>{{member_financed_project.title}}</td>
                    <td>{{member_financed_project.started * 1000 | date : "yyyy/MM/dd"}}</td>
                    <td>{{member_financed_project.ended * 1000 | date : "yyyy/MM/dd"}}</td>
                    <td>{{member_financed_project.budget}}</td>
                    <td>{{member_financed_project.created_by}}</td>
                    <td>{{member_financed_project.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_financed_project.updated_by}}</td>
                    <td>{{member_financed_project.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_financed_project.member_created_by}}</td>
                    <td>{{member_financed_project.member_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="financed-project-view({financedprojectid: member_financed_project.id})"><span class="fa fa-eye"></span></button>
                      <button class="btn btn-danger btn-xs" ng-click="memberRemoveFinancedProject(member.id,member_financed_project.id)"><span class="fa fa-minus"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-dollar"></span> Financed projects</span> I also co-leadered these financed projects <span class="pull-right badge">{{member_secondary_leadered_financed_projects.length}}</span>
              </accordion-heading>
              <br>
              <button class="btn btn-success btn-xs" ng-click="openAddSecondaryLeaderedFinancedProjectForm()">Add</button>
              <table class="table table-hover" st-table="member_secondary_leadered_financed_projects_copy" st-safe-src="member_secondary_leadered_financed_projects" >
                <thead>
                  <tr>
                    <th st-sort="id">Id</th>
                    <th st-sort="title" st-sort-default>Title</th>
                    <th st-sort="started">Started</th>
                    <th st-sort="ended">Ended</th>
                    <th st-sort="budget">Budget (&euro;)</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th st-sort="member_created_by">Added by</th>
                    <th st-sort="member_created_at">Added at</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="12">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_secondary_leadered_financed_project in member_secondary_leadered_financed_projects_copy">
                    <td>{{member_secondary_leadered_financed_project.id}}</td>
                    <td>{{member_secondary_leadered_financed_project.title}}</td>
                    <td>{{member_secondary_leadered_financed_project.started * 1000 | date : "yyyy/MM/dd"}}</td>
                    <td>{{member_secondary_leadered_financed_project.ended * 1000 | date : "yyyy/MM/dd"}}</td>
                    <td>{{member_secondary_leadered_financed_project.budget}}</td>
                    <td>{{member_secondary_leadered_financed_project.created_by}}</td>
                    <td>{{member_secondary_leadered_financed_project.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_secondary_leadered_financed_project.updated_by}}</td>
                    <td>{{member_secondary_leadered_financed_project.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_secondary_leadered_financed_project.member_as_leader_created_by}}</td>
                    <td>{{member_secondary_leadered_financed_project.member_as_leader_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="financed-project-view({financedprojectid: member_secondary_leadered_financed_project.id})"><span class="fa fa-eye"></span></button>
                      <button class="btn btn-danger btn-xs" ng-click="memberRemoveSecondaryLeaderedFinancedProject(member.id,member_secondary_leadered_financed_project.id)"><span class="fa fa-minus"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-institution"></span> Statuses</span> I also have these statuses apart from {{member.primary_status_doc.name}} <span class="pull-right badge">{{member_secondary_statuses.length}}</span>
              </accordion-heading>
              <br>
              <button class="btn btn-success btn-xs" ng-click="openAddSecondaryStatusForm()">Add</button>
              <table class="table table-hover" st-table="member_secondary_statuses_copy" st-safe-src="member_secondary_statuses" >
                <thead>
                  <tr>
                    <th st-sort="id">Id</th>
                    <th st-sort="name" st-sort-default>Name</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th st-sort="member_created_by">Added by</th>
                    <th st-sort="member_created_at">Added at</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="9">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_secondary_status in member_secondary_statuses_copy">
                    <td>{{member_secondary_status.id}}</td>
                    <td>{{member_secondary_status.name}}</td>
                    <td>{{member_secondary_status.created_by}}</td>
                    <td>{{member_secondary_status.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_secondary_status.updated_by}}</td>
                    <td>{{member_secondary_status.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_secondary_status.member_created_by}}</td>
                    <td>{{member_secondary_status.member_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="status-view({statusid: member_secondary_status.id})"><span class="fa fa-eye"></span></button>
                      <button class="btn btn-danger btn-xs" ng-click="memberRemoveSecondaryStatus(member.id,member_secondary_status.id)"><span class="fa fa-minus"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-slideshare"></span> Partners</span> I belong to these partners <span class="pull-right badge">{{member_partners.length}}</span>
              </accordion-heading>
              <br>
              <button class="btn btn-success btn-xs" ng-click="openAddPartnerForm()">Add</button>
              <table class="table table-hover" st-table="member_partners_copy" st-safe-src="member_partners" >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th st-sort="name" st-sort-default>Name</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th st-sort="member_created_at">Added at</th>
                    <th st-sort="member_updated_by">Added by</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="10">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_partner in member_partners_copy">
                    <td>{{member_partner.id}}</td>
                    <td>{{member_partner.name}}</td>
                    <td>{{member_partner.created_by}}</td>
                    <td>{{member_partner.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_partner.updated_by}}</td>
                    <td>{{member_partner.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_partner.member_created_by}}</td>
                    <td>{{member_partner.member_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="partner-view({partnerid: member_partner.id})"><span class="fa fa-eye"></span></button>
                      <button class="btn btn-danger btn-xs" ng-click="memberRemovePartner(member.id,member_partner.id)"><span class="fa fa-minus"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <span class="label label-success"><span class="menu-icon fa fa-space-shuttle"></span> Research lines</span> I have participated in these research lines <span class="pull-right badge">{{member_research_lines.length}}</span>
              </accordion-heading>
              <br>
              <button class="btn btn-success btn-xs" ng-click="openAddResearchLineForm()">Add</button>
              <table class="table table-hover" st-table="member_research_lines_copy" st-safe-src="member_research_lines" >
                <thead>
                  <tr>
                    <th st-sort="id">Id</th>
                    <th st-sort="title" st-sort-default>Title</th>
                    <th st-sort="finished">Finished</th>
                    <th st-sort="created_by">Created by</th>
                    <th st-sort="created_at">Created at</th>
                    <th st-sort="updated_by">Updated by</th>
                    <th st-sort="updated_at">Updated at</th>
                    <th st-sort="member_project_created_by">Added by</th>
                    <th st-sort="member_created_at">Added at</th>
                    <th st-sort=""></th>
                  </tr>
                  <tr>
                    <th colspan="10">
                      <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="member_research_line in member_research_lines_copy">
                    <td>{{member_research_line.id}}</td>
                    <td>{{member_research_line.title}}</td>
                    <td>{{member_research_line.finished}}</td>
                    <td>{{member_research_line.created_by}}</td>
                    <td>{{member_research_line.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_research_line.updated_by}}</td>
                    <td>{{member_research_line.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>{{member_research_line.member_created_by}}</td>
                    <td>{{member_research_line.member_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                    <td>
                      <button class="btn btn-success btn-xs" ui-sref="research-line-view({researchlineid: member_research_line.id})"><span class="fa fa-eye"></span></button>
                      <button class="btn btn-danger btn-xs" ng-click="memberRemoveResearchLine(member.id,member_research_line.id)"><span class="fa fa-minus"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </accordion-group>
            
          </accordion>
        </div>
      </div>
    </div>
  </div>