<div class="modal-header">
  <h3 class="modal-title">Update partner</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Enter partner name" ng-model="partnerZ.name">
    </div>
    <div class="form-group">
      <label for="name">Web</label>
      <input type="text" class="form-control" placeholder="Enter partner web" ng-model="partnerZ.web">
    </div>
    <div class="form-group radio">
      <label class="radio-inline">
        <input type="radio" name="scope" value="regional"  ng-model="partnerZ.scope"> Regional
      </label>
      <label class="radio-inline">
        <input type="radio" name="scope" value="national" ng-model="partnerZ.scope"> National
      </label>
      <label class="radio-inline">
        <input type="radio" name="scope" value="international" ng-model="partnerZ.scope"> International
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-xs" ng-click="partnerUpdate(partnerZ)">Update</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>