<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Student work detail</h3>
            </div>
            <div class="panel-body">
                <p><b>Title</b>: {{student_work.title}}</p>
                <p><b>Year</b>: {{student_work.year}}</p>
                <p><b>School</b>: {{student_work.school}}</p>
                <p><b>Volume</b>: {{student_work.volume}}</p>
                <p><b>Author</b>: <a ui-sref="member-view({memberid:student_work.author_doc.id})">{{student_work.author_doc.first_name + ' ' + student_work.author_doc.last_name}}</a></p>
                <p><b>Type</b>: <a ui-sref="student-work-type-view({studentworktypeid:student_work.student_work_type_doc.id})">{{student_work.student_work_type_doc.name}}</a></p>
                <p><b>Created by</b>: {{student_work.created_by}}</p>
                <p><b>Created at</b>: {{student_work.created_at}}</p>
                <p><b>Updated by</b>: {{student_work.updated_by}}</p>
                <p><b>Updated at</b>: {{student_work.updated_at}}</p>
                <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(student_work)">Update</button>
                <button class="btn btn-danger btn-xs" ng-click="studentWorkDelete(student_work.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Student work relations</h3>
            </div>
            <div class="panel-body">
                <tabset>
                    <tab heading="Research lines">
                     <br>
                      <button class="btn btn-success btn-xs" ng-click="openAddResearchLineForm()">Add</button>
                      <table class="table table-hover" st-table="research_lines_copy" st-safe-src="research_lines" >
                        <thead>
                          <tr>
                            <th st-sort="id">Id</th>
                            <th st-sort="title" st-sort-default st-skip-natural="true">Title</th>
                            <th st-sort="student_work_created_by">Added by</th>
                            <th st-sort="student_work_created_at">Added at</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th colspan="6">
                              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="research_line in research_lines_copy">
                            <td>{{research_line.id}}</td>
                            <td>{{research_line.title}}</td>
                            <td>{{research_line.student_work_created_by}}</td>
                            <td>{{research_line.student_work_created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
                             <td>
                              <button class="btn btn-success btn-xs" ui-sref="research-line-view({researchlineid: research_line.id})"><span class="fa fa-eye"></span></button>
                              <button class="btn btn-danger btn-xs" ng-click="studentWorkRemoveResearchLine(student_work.id, research_line.id)"><span class="fa fa-minus"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>