<div class="modal-header">
  <h3 class="modal-title">Create student work</h3>
</div>
<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="Enter title" ng-model="student_work.title">
    </div>
    <div class="form-group">
      <label for="year">Year</label>
      <input type="number" class="form-control" placeholder="Enter year" ng-model="student_work.year">
    </div>
    <div class="form-group">
      <label for="school">School</label>
      <input type="text" class="form-control" placeholder="Enter school" ng-model="student_work.school">
    </div>
    <div class="form-group">
      <label for="volume">Volume</label>
      <input type="text" class="form-control" placeholder="Enter volume" ng-model="student_work.volume">
    </div>
    <div class="form-group">
      <label for="Author">Author</label>
      <select class="form-control"  ng-init="student_work.author = authors[0].id" ng-model="student_work.author" ng-options="author.id as author.first_name + ' ' + author.last_name for author in authors"></select>
    </div>
    <div class="form-group">
      <label for="Type">Type</label>
      <select class="form-control"  ng-init="student_work.student_work_type = student_work_types[0].id" ng-model="student_work.student_work_type" ng-options="student_work_type.id as student_work_type.name for student_work_type in student_work_types"></select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-xs" ng-click="studentWorkCreate(student_work)">Create</button>
  <button class="btn btn-danger btn-xs" ng-click="$close()">Cancel</button>
</div>