<div class="row">
  <div class="col-lg-12">
    <instanto-widget>
    <instanto-widget-header icon="fa-graduation-cap" title="Student works">
    <button class="btn btn-success btn-xs" ng-click="openCreateForm()">New</button>
    </instanto-widget-header>
    <instanto-widget-body classes="no-padding">
    <div class="table-responsive">
      <table st-table="student_works_copy" st-safe-src="student_works" class="table table-hover">
        <thead>
          <tr>
            <th st-sort="id">Id</th>
            <th st-sort="title" st-sort-default>Title</th>
            <th st-sort="created_by">Created by</th>
            <th st-sort="created_at">Created at</th>
            <th st-sort="updated_by">Updated by</th>
            <th st-sort="updated_at">Updated at</th>
            <th></th>
          </tr>
          <tr>
            <th colspan="7">
              <input st-search="" class="form-control" placeholder="global search ..." type="text" st-delay=0 >
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student_work in student_works_copy">
            <td>{{student_work.id}}</td>
            <td>{{student_work.title}}</td>
            <td>{{student_work.created_by}}</td>
            <td>{{student_work.created_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
            <td>{{student_work.updated_by}}</td>
            <td>{{student_work.updated_at * 1000| date : "yyyy/MM/dd HH:mm:ss"}}</td>
            <td><button class="btn btn-success btn-xs" ui-sref="student-work-view({studentworkid: student_work.id})"><span class="fa fa-eye"></span></button>
            <button class="btn btn-primary btn-xs" ng-click="openUpdateForm(student_work)"><span class="fa fa-edit"></span></button><button class="btn btn-danger btn-xs" ng-click="studentWorkDelete(student_work.id)"><span class="fa fa-trash-o"></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </instanto-widget-body>
    </instanto-widget>
  </div>
</div>
